:root{
    --side: 300px; 
}

body{
    margin: 0;
    padding: 0;
    color: white;
    display: flex;
    height: 100vh;
    justify-content: center;
    align-items: center;
    background-color: black;
}

.container{
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 100px;
    max-height: 50vh;
}

.box{
    display: flex;
    align-items: center;
    justify-content: center;
    transition: all 2s ;
}

.box-border{
    position: absolute;
    float: left;
    padding: 10px;
    width: var(--side);
    height: var(--side);
    border-radius: 100%;
    border: 1px solid gray;
    border-top: 2px solid white;
}

.active{
    animation-duration: 2.5s, 2s;
    animation-timing-function: linear, linear;
    animation-delay: 0s, 2.5s;
    animation-iteration-count: infinite, infinite;
    animation-direction: alternate, normal;
    animation-fill-mode: both, none;
    animation-play-state: running, running;
    animation-name: all, out;
}

@keyframes in
{
    0%{transform:scale(1.0);}
    100%{transform:scale(2.0);}
}

@keyframes out
{
    0%{transform:rotate(0deg);}
    33%{transform: rotate(120deg) scale(1.33);}
    66%:{transform: rotate(240deg) scale(1.66);}
    100%{transform:rotate(360deg);}
}